In [220]:
# Add the Pandas dependency
import pandas as pd
import os

In [221]:
# Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [222]:
school_data_df = pd.read_csv(school_data_to_load)
#school_data_df

In [223]:
student_data_df = pd.read_csv(student_data_to_load)
#student_data_df.head()

In [224]:
# Determine if there are any missing values in the school data.
# school_data_df.count()

In [225]:
# Determine if there are any missing values in the student data
# student_data_df.count()

In [226]:
# Determine if there are any missing values in the student data
# student_data_df.isnull().sum()

In [227]:
#Determine data types for the school DataFrame,
# school_data_df.dtypes

In [228]:
# Determine the data types for the student DataFrame,
# student_data_df.dtypes

In [229]:
# Add each prefix and suffix to remove to a list,
prefixes_suffixes = ["Dr. ","Mr. ","Mrs. ","Miss ","Ms. "," MD"," DDS", " DVM"," PhD"]

In [230]:
# Iterate throught the prefixes_suffixes and replace them with an empthy space in the student list
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [231]:
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
#school_data_complete_df.head()

In [232]:
# Calculate the total number of schools
school_count = len(school_data_complete_df["school_name"].unique())
#school_count

In [233]:
student_count = school_data_complete_df["Student ID"].count()
#student_count

In [234]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
#total_budget

In [235]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
#average_reading_score

In [236]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
#average_math_score

In [237]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
#passing_math.head()

In [238]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
#passing_reading.head()

In [239]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

In [240]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [241]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
#passing_math_reading.head()

In [242]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
#overall_passing_math_reading_count

In [243]:
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
#overall_passing_percentage

In [244]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
[{"Total Schools": school_count,
"Total Students": student_count,
"Total Budget": total_budget,
"Average Math Score": average_math_score,
"Average Reading Score": average_reading_score,
"% Passing Math": passing_math_percentage,
"% Passing Reading": passing_reading_percentage,
"% Overall Passing": overall_passing_percentage}])
#district_summary_df

In [245]:
# Format the columns.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",79.0,81.9,75,86,65

In [246]:
# Determine the school type
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types_df = pd.DataFrame(per_school_types)
#per_school_types_df

In [247]:
#per_school_counts = school_data_df.set_index(["school_name"])["size"]
#per_school_counts

In [248]:
per_school_counts = school_data_complete_df["school_name"].value_counts()
#per_school_counts

In [249]:
per_school_budget = school_data_df.set_index(["school_name"])["budget"]

In [250]:
per_school_capita = per_school_budget / per_school_counts
#per_school_capita

In [251]:
#Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
#per_school_math

In [252]:
#Calculate the average test scores.
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
#per_school_reading

In [253]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [254]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
#per_school_passing_math

In [255]:
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
#per_school_passing_reading

In [256]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

In [257]:
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [258]:
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
#per_overall_passing_percentage

In [259]:
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage
})

In [260]:
# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)


# Display the data frame
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,3318,4077,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,1749,1803,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,1946,2381,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,1871,2172,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,1371,1426,90.599455